<p>Register Student Placeholder form</p>
<div class="ReportMessage"><%= locals.message %> </div>
<form method="post" action="/register/student">
    <%- include('../partials/text-input-field' , {field:'student_id' , errors:locals.errors}) %><br>
    <%- include('../partials/select-input-field' , {field:'branch' , options:['Information Engineering' ,'Network Engineering'] , errors:locals.errors}) %> <br>
    <%- include('../partials/select-input-field' , {field:'stage' , options:['1st' , '2nd' , '3rd' , '4th' , 'Graduate'] , errors:locals.errors}) %><br>
    <%- include('../partials/select-input-field' , {field:'study' , options:['Morning' , 'Evening'] , errors:locals.errors}) %> <br>
    <button type="submit">Register</button>
</form>