<div class="form-checkbox-container mt-2 mb-2">
    <input type="checkbox" class="form-checkbox-input form-check-input" id="<%- fieldId %>" name="<%- fieldName %>" <%- value? `checked = "${value}"`: "" %>>
    <label class="form-check-label form-checkbox-label" for="<%- fieldId %>"><%- labelText %></label>
  </div>