<div class="mb-3 ">
    <div class="position-relative">
        <div>
            <input type="password" class="form-control mt-3 pt-0 inputTextField passwordField form-text-field <%- error ? "form-control-error" : "" %>" name="<%- fieldName %>" id="<%- fieldId %>" placeholder="<%- placeholder %>" <%- value? `value= "${value}"`: "" %>>
            <p class="error1  position-absolute top-0 inputTextFieldError" id="<%- fieldName %>Error" style="display: none;"><%- error ? error : ""%> %> </p>
            <i class="bi bi-lock-fill position-absolute top-0 form-field-icon form-field-icon-static"></i>
            <i class="bi bi-eye-fill position-absolute top-0 end-0 form-field-icon form-field-icon-interactable"></i>
            <span class="form-input-line"></span>
        </div>
    </div>
</div>