<label for="<%= field %>"><%= field %></label>
<select name="<%= field %>" id="<%= field %>">
    <% options.forEach(option=>{ %> 
        <option value="<%= option %>"><%= option %></option>
    <% }) %> 
</select>
<% if(errors != undefined){ %> 
    <div class="errorMsg"><%= errors[field] %> </div>
    <% } %> 