<label for="<%= field %>"><%= field %></label>
<select name="<%= field %>" id="<%= field %>">
    <% options.forEach(option=>{ %> 
        <option value="<%= option %>"><%= option %></option>
    <% }) %> 
</select>
<% if(locals.errors != undefined && locals.errors != null){ %> 
    <div class="errorMsg"><%= locals.errors[field] %> </div>
    <% } %> 