<%- include('../partials/flash-message-box.ejs') %>
<div class="content fade-in ">
<div class="form-container">
  <div class="content fade-in ">
    <div class="container  shadow-lg p-3 bg-body">
        <div class="image-container">
          <img src="/images/formImage.png" alt="" class="rounded mx-auto d-block w-25 ">
        </div>
      <div class="title-container">
        <h2 data-text=" Recover&nbsp;Password" class="mt-4 mb-9 title" id="enter-new-password-title">Recover Password</h2>
      </div>
      <p>Please enter your new password</p>
      <form action="/login/retrievePassword/<%- locals.token %>" method="post">
        <% const errors = !locals.errors ? {} : locals.errors %>
        <%- include('../partials/password-input-field.ejs' , {error:errors.password , fieldName:'password' , fieldId:'new-email=password-field' , placeholder:'New Password'}) %>
        <%- include('../partials/password-input-field.ejs' , {error:errors.confirmPassword , fieldName:'confirmPassword' , fieldId:'new-email-confirm=password-field' , placeholder:'Confirm Password'}) %>
        <%- include('../partials/form-submit-button.ejs' , {buttonText:'Save'}) %>
      </form>
    </div>
  </div>
</div>
</div>