<%- include('../../partials/flash-message-box.ejs') %> 
<% const courseTitle = locals.finalExam.courseTitle.replace(/\s/gm , '-') %> 
<div class="content fade-in ">
	<div class="page-container">
		<nav class="navbar navbar-expand-lg navbar-light fixed-top">
			<div class="container-fluid position-relative">
				<button id="show-menu-button" class="menu-button" onclick="showMenu()">  <i data-feather="menu">menu</i></button>
				<aside class="sidebar" id="aside-menu">
					<!-- <button class="sidebar-toggle">
						<i class="fa fa-chevron-circle-right yes" aria-hidden="true"></i>
					</button> -->
					<ul>
						<li>
							<div href="" class="logo"> 
								<div class="circular-button" profile-img="<%- locals.profileImg || "" %>">
								</div>
								&nbsp;&nbsp;<p class="logo-p"><%- locals.username %></p>
							  </div>
						</li>
						<li>
							<a href="/courses/statistics/<%- courseTitle %>?role=examCommittee" class="aside-link" id="show-statistics">
								<i class="fas icon fa-chart-bar"></i> &nbsp;&nbsp; Statistics </a>
						</li>
					</ul>
				</aside>
				<img src="/images/logo.png" alt="" class=" h-100  navbar-brand">
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
					<svg xmlns="http://www.w3.org/2000/svg" width="36" height="27" fill="currentColor" class="bi bi-list" viewBox="0 0 14 16">
						<path fill-rule="evenodd" d="M1.5 4.5A.5.5 0 0 1 2 4h12a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5H2a.5.5 0 0 1-.5-.5v-1zm0 4A.5.5 0 0 1 2 8h12a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5H2a.5.5 0 0 1-.5-.5v-1zm0 4A.5.5 0 0 1 2 12h12a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5H2a.5.5 0 0 1-.5-.5v-1z" />
					</svg>
				</button>
			</div>
			<div class="collapse navbar-collapse" id="navbarNav">
				<ul class="navbar-nav ms-auto">
					<li class="nav-item">
					  <a class="nav-link courses" href="/finalExams">
						<i class="fa fa-home courses-icon   icon-course" aria-hidden="true"></i>&nbsp;Final Exams</a>
					</li>
					<li class="nav-item">
					  <a class="nav-link" href="/courses">
						<i class="bi bi-pencil-fill icon-course" aria-hidden="true"></i>&nbsp;My Courses </a>
					</li>
					<li class="nav-item">
					  <a class="nav-link a3" href="/logout">
						<i class="fas  fa-sign-out-alt icon-course"></i>&nbsp; Logout </a>
					</li>
				</ul>
			</div>
		</nav>
		<div class="messages-pool" id="messages-container"></div>
	</div>
	<div class="container margin-on-nav container-e">
		<div class="row">
			<div class="filter filter-hidden">
				<div class="table-controls">
					<i class="fa fa-refresh" id="refresh-table-btn" aria-hidden="true"></i>
					<i class="fa fa-solid fa-filter" id="filter-btn" aria-hidden="true"></i>
				</div>
				<input type="text" id="student-name">
				<select id="grade-status">
					<option value="">Grade status</option>
					<option value="pendingFinalExam">Pending Final Exam</option>
					<option value="finalized">Finalized</option>
					<option value="published">Published</option>
				</select>
				<div class="check-box-container">
					<input type="checkbox" id="IE" value="1" checked>
					<label for="IE">Information Engineering</label>
				</div>
				<div class="check-box-container">
					<input type="checkbox" id="NE" value="1" checked>
					<label for="NE">Network Engineering</label>
				</div>
				<button id="filter-apply-btn">Apply</button>
			</div>
			<div class="col-md-12" id="table-container">
				<div class="no-grades-message">No Grades are available</div>
				<div class="loader" id="table-loader">
					<div class="outer"></div>
					<div class="middle"></div>
					<div class="inner"></div>
				</div>
				<table id="grades-table" class="table table-hover" course="<%- courseTitle %>" role="examCommittee">

				</table>
				<div class="buttons-container">
					<button type="button" class="btn btn-success exel download-excel-file" >Export Excel</button>
					<button type="button" class="btn btn-success exel upload-excel-file" >Import Excel</button>
					<button class="btn  btn-primary-course btn-sm me-2 save-btn" id="examCommittee-save-button">Save</button>
					<button class="btn  btn-primary-course btn-sm exel" id="examCommittee-finalize-button">Finalize</button>
					<button class="btn  btn-primary-course btn-sm exel" id="examCommittee-publish-button">Publish</button>
				</div>
				<div class="table-pagination-buttons-container">
					
				</div>
			</div>
		</div>
	</div>
</div>
<button id="scroll-to-top">
	<i class="fas fa-chevron-up"></i>
</button>
