<%- include('../../partials/flash-message-box.ejs') %> 
<% const courseTitle = locals.course.courseTitle.replace(/\s/gm , '-') %> 
<div class="content fade-in ">
	<div class="page-container">
		<!-- <nav class="navbar navbar-expand-lg navbar-light  "><div class="container-fluid position-relative"><img src="/images/logo.png" alt="" class=" h-100  navbar-brand"><button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation"><svg
		xmlns="http://www.w3.org/2000/svg" width="36" height="27" fill="currentColor" class="bi bi-list" viewBox="0 0 14 16"><path fill-rule="evenodd" d="M1.5 4.5A.5.5 0 0 1 2 4h12a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5H2a.5.5 0 0 1-.5-.5v-1zm0 4A.5.5 0 0 1 2 8h12a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5H2a.5.5 0 0 1-.5-.5v-1zm0 4A.5.5 0 0 1 2 12h12a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5H2a.5.5 0 0 1-.5-.5v-1z" /></svg></button></div><div class="collapse navbar-collapse" id="navbarNav"><ul class="navbar-nav ms-auto"><% //if(role === 'faculty') {%><%-// include('../../partials/nav-bar-link.ejs' , {link:'#' , linkText:'Delete Course' , customIconClass:'fa fa-minus-square'}) %><%- //include('../../partials/nav-bar-link.ejs' , {link:'#' , linkText:'Edit Course' , customIconClass:'bi bi-pencil-fill'}) %><% //} %><%- //include('../../partials/nav-bar-link.ejs' , {link:'/logout' , linkText:'Logout' , customIconClass:'bi bi-x-circle-fill'}) %></ul></div></nav> -->
		<nav class="navbar navbar-expand-lg navbar-light fixed-top">
			<div class="container-fluid position-relative">
				<aside class="sidebar">
					<button class="sidebar-toggle">
						<!-- <span class="bi bi-list"></span> -->
						<i class="fa fa-chevron-circle-right yes" aria-hidden="true"></i>
					</button>
					<ul>
						<li>
							<!-- <a href="#" class="aside-link"> -->
							<!-- <i class="fa fa-user icon" aria-hidden="true"></i> -->
							<label for="file-input" class="circular-button">
								<img src="">
							</label>
							<!-- <input id="file-input" type="file" accept="image/*"> -->
							</a>
						</li>
						<li>
							<a href="/courses/statistics/<%- courseTitle %>" class="aside-link" id="show-statistics">
								<i class="fas fa-chart-bar"></i> &nbsp;&nbsp; Statistics </a>
						</li>
						<li>
							<a href="/courses/<%- courseTitle %>/delete" class="aside-link" id="delete-course">
								<i class="fa fa-trash" aria-hidden="true"></i> &nbsp;&nbsp; Delete course </a>
						</li>
						<!-- <li><a href="#" class="aside-link">Edit course</a></li> -->
						<li>
							<a href="#" class="aside-link">
								<i class="fas fa-user-plus icon"></i> &nbsp;&nbsp; Invite faculty </a>
						</li>
						<!-- <button id="edit-btn"  class="edit aside-link"><i class="fas fa-edit icon"></i> &nbsp;&nbsp;Edit course</button>
          -->
						<li>
							<!-- <button id="edit-btn"  class="edit aside-link"> &nbsp; Edit</button> -->
							<a href="<%- courseTitle %>/edit" class="aside-link" id="edit-course">
								<i class="fas fa-edit icon"></i>&nbsp;&nbsp; Edit course </a>
						</li>
					</ul>
				</aside>
				<img src="/images/logo.png" alt="" class=" h-100  navbar-brand">
				<!-- <div class="btn"> -->
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
					<!-- <span class="navbar-toggler-icon"> -->
					<svg xmlns="http://www.w3.org/2000/svg" width="36" height="27" fill="currentColor" class="bi bi-list" viewBox="0 0 14 16">
						<path fill-rule="evenodd" d="M1.5 4.5A.5.5 0 0 1 2 4h12a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5H2a.5.5 0 0 1-.5-.5v-1zm0 4A.5.5 0 0 1 2 8h12a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5H2a.5.5 0 0 1-.5-.5v-1zm0 4A.5.5 0 0 1 2 12h12a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5H2a.5.5 0 0 1-.5-.5v-1z" />
					</svg>
					<!-- </span> -->
				</button>
			</div>
			<div class="collapse navbar-collapse" id="navbarNav">
				<ul class="navbar-nav ms-auto">
					<li class="nav-item">
						<a class="nav-link a1" href="/courses">
							<i class="fa fa-home icon-course" aria-hidden="true"></i>&nbsp; Courses </a>
					</li>
					<li class="nav-item">
						<a class="nav-link a2" href="#">
							<i class="bi bi-pencil-fill icon-course"></i>&nbsp; Review </a>
					</li>
					<li class="nav-item">
						<a class="nav-link a3" href="/logout">
							<i class="fas fa-sign-out-alt icon-course"></i>&nbsp; Logout </a>
					</li>
				</ul>
			</div>
		</nav>
		<div class="messages-pool" id="messages-container"></div>
	</div>
	<div class="container margin-on-nav container-e">
		<div class="row">
			<div class="filter filter-hidden">
				<div class="table-controls">
					<i class="fa fa-refresh" id="refresh-table-btn" aria-hidden="true"></i>
					<i class="fa fa-solid fa-filter" id="filter-btn" aria-hidden="true"></i>
				</div>
				<input type="text" id="student-name">
				<select id="grade-status">
					<option value="">Grade status</option>
					<option value="notGraded">Not Graded</option>
					<option value="pendingApproval">Pending Approval</option>
					<option value="pendingFinalExam">Pending Final Exam</option>
					<option value="finalized">Finalized</option>
					<option value="published">Published</option>
				</select>
				<div class="check-box-container">
					<input type="checkbox" id="IE" value="1" checked>
					<label for="IE">Information Engineering</label>
				</div>
				<div class="check-box-container">
					<input type="checkbox" id="NE" value="1" checked>
					<label for="NE">Network Engineering</label>
				</div>
				<button id="filter-apply-btn">Apply</button>
			</div>
			<div class="col-md-12" id="table-container">
				<div class="no-grades-message">No Grades are available</div>
				<div class="loader" id="table-loader">
					<div class="outer"></div>
					<div class="middle"></div>
					<div class="inner"></div>
				</div>
				<table id="grades-table" class="table table-hover" course="<%- courseTitle %>" role="faculty">

				</table>
				<div class="buttons-container">
					<button type="button" class="btn btn-success exel" onclick="exportToExcel()">Import Excel</button>
					<button type="button" class="btn btn-success exel" onclick="exportToExcel()">Upload</button>
					<button class="btn  btn-primary-course btn-sm me-2" id="faculty-save-button">Save</button>
					<button class="btn  btn-primary-course btn-sm exel" id="faculty-submit-button">Submit</button>
				</div>
				<div class="table-pagination-buttons-container">
					
				</div>
			</div>
		</div>
	</div>
	<!-- 

<button id="faculty-save-button" class="btn btn-primary btn-primary-course btn-sm me-2">Save</button><button id="faculty-submit-button" class="btn  btn-primary-course btn-sm">Submit</button> -->
</div>
<button id="scroll-to-top">
	<i class="fas fa-chevron-up"></i>
</button>
